@import './lib/reset.scss';
@import './lib/css-breakpoint-mixins.scss';

// Sections.
@import './section/promotion/style.scss';
@import './section/etaps/style.scss';

#outer-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
}

.section-container {
  display: flex;
  width: 100%;

  @include for-desktop-up {
    width: 1200px;
  }
}


.section1234 {
  background: url("../images/swc-banner.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 100%;

  @include for-desktop-up {
    width: 1200px;
    background: red;
  }
}
