@import './lib/reset.scss';
@import './lib/css-breakpoint-mixins.scss';

// Components.
@import './component/header/style.scss';
@import './component/footer/style.scss';
@import './component/menu.scss';

// Sections.
@import './section/promotion/style.scss';
@import './section/etaps/style.scss';
@import './section/from_manufacture/style.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: Play;
}

#outer-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
}

.section-container {
  display: flex;
  width: 100%;

  @include for-desktop-up {
    width: 1200px;
  }
}

// Animations.
@keyframes fade-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

// Animations.
@keyframes padding-out {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
