$images: './section/etaps/images';

.etaps.section {
  background: url("#{$images}/bg_step.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  padding: 12px;

  @include for-tablet-landscape-up {
    padding: 32px;
  }

  >.title {
    font-size: 24px;
    padding-bottom: 12px;

    &.is-visible {
      animation-duration: 5s;
      animation-name: fade-out;
    }
  }

  >.container {
    border-color: white;
    border-style: solid;
    border-width: 1px 0 0 0;
    display: flex;
    flex-direction: column;

    @include for-tablet-landscape-up {
      flex-direction: row;
      justify-content: space-around;
      border-width: 0 0 0 1px;
    }
    
    >.step {
      border-color: white;
      border-style: solid;
      border-width: 0 0 1px 0;
      padding: 6px;
      display: flex;
      transform: translate(100%, 0px);

      &.one {}

      &.two {
        animation-delay: 3s;
      }

      &.three {
        animation-delay: 6s;
      }

      &.show-on-scroll {
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: padding-out;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      @include for-tablet-landscape-up {
        border-width: 0 1px 0 0;
      }

      .number {
        width: 60px;
        height: 60px;
        background: url("#{$images}/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;

        &.one {
          background: url("#{$images}/1.png");
        }

        &.two {
          background: url("#{$images}/2.png");
        }

        &.three {
          background: url("#{$images}/3.png");
        }
      }

      >.container {
        padding: 12px;
        flex: 1;

        >.title {
          font-size: 18px;
        }

        >.description {
          font-size: 12px;
        }
      }
    }
  }

  >.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    >button {
      background: #74e0ae;
      border-width: 0;
      color: white;
      height: 32px;
      border-radius: 32px;
    }
  }
}
