$images: './section/promotion/images';

.promotion.section {
  background-color: white;
  width: 100%;

  >.title {
    font-size: 48px;
    text-align: center;
  }

  >.subtitle {
    font-size: 18px;
    text-align: center;
  }

  >.subtitle-promo {
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
  }

  >.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    >.person {
      display: none;
      background: url("#{$images}/person.jpg");
      background-size: contain;
      background-position: left;
      width: 304px;
      height: 400px;

      @include for-tablet-landscape-up {
        display: block;
      }
    }

    >.offers {
      @include for-tablet-landscape-up {
        padding: 70px;
      }

      >div {
        background-image: url("#{$images}/car.png");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        height: 32px;
        padding: 6px 0 6px 90px;
        font-size: 24px;

        &.car {
          background-image: url("#{$images}/car.png");
          background-position: 0px 0px;
        }

        &.action {
          background-image: url("#{$images}/action.png");
          background-position: 24px 0px;
        }

        &.water {
          background-image: url("#{$images}/water.png");
          background-position: 33px 0px;
        }

        &.wallet {
          background-image: url("#{$images}/wallet.png");
          background-position: 28px 0px;
        }

        &.money {
          background-image: url("#{$images}/money.png");
          background-position: 11px 0px;
        }
      }
    }



  }

}

