div.title.show-on-scroll Етапи замовлення

div.container
  div.step
    div.number.one
    div.container
      div.title Залишай заявку
      div.description Для отримання акції, залишай заявку прямо зараз

  div.step
    div.number.two
    div.container
      div.title Дочекайся дзвінка оператора
      div.description Оператор передзвонить для уточнення часу доставки води

  div.step
    div.number.three
    div.container 
      div.title Очікуй доставку
      div.description Безкоштовно доставимо воду в зручне для тебе місце і в обумовлений час

div.button-wrapper
  button ЗАЛИШИТИ ЗАЯВКУ
