div.title.show-on-scroll.show-once Етапи замовлення

div.container
  div.step.show-on-scroll.one
    div.number.one
    div.container
      div.title Залишай заявку
      div.description Для отримання акції, залишай заявку прямо зараз

  div.step.show-on-scroll.two
    div.number.two
    div.container
      div.title Дочекайся дзвінка оператора
      div.description Оператор передзвонить для уточнення часу доставки води

  div.step.show-on-scroll.three
    div.number.three
    div.container 
      div.title Очікуй доставку
      div.description Безкоштовно доставимо воду в зручне для тебе місце і в обумовлений час

div.button-wrapper
  button ЗАЛИШИТИ ЗАЯВКУ
