.title Від виробника      
.subtitle IDS Borjomi Ukraine

.container
  .list
    .item
      .image.a1
      .container
        .title ГАРАНТІЯ 
        .subtitle 20+ років роботи
    .item
      .image.a2
      .container
        .title СТАНДАРТ ISO 22000
        .subtitle Виробництво відповідає європейському стандарту системи управління безпечності харчової продукції ISO FSSC 22000
    .item
      .image.a3
      .container
        .title ПИЙ ВДОМА
        .subtitle Пий вдома воду, яку ти справді любиш — обирай Моршинську в зручних великих форматах. Природна вода вдома завжди стане у пригоді. Великого бутля 18,9 літрів вистачить надовго, а ти зменшиш використання пластику і свої витрати
    .item
      .image.a4
      .container
        .title ЗАПОВІДНІ МОРШИНСЬКІ ДЖЕРЕЛА
        .subtitle Одне з небагатьох у світі родовищ чистої природної води, що має ідеально збалансований для людини мінеральний склад. Саме тому «Моршинська» на 100% сприймається організмом та щодня забезпечує його правильну роботу. Як результат – ти завжди у відмінній формі! Завжди у формі, завжди «Моршинська»!
  .bottle
