div.title ДОСТАВКА ВОДИ ДОДОМУ
div.subtitle Для більшої зручності та економії часу ви можете замовити доставку питної води ТМ «Здорова вода»
div.subtitle-promo додому, офісу, дитячого чи навчального закладу.

div.container
  div.person
  div.offers
    div.money 55 грн за 19 л. води
    div.water Від двох бутелiв ціна 50 грн за бутель
    div.car Безкоштовна доставка води
    div.wallet Заставна ціна однієї бутелi 150 грн.
    div.action Замовлення 3 бутелi помпа в подарунок
